<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<add key="RadiatorCssFilePath" value="\\se-tv-pc\Radiator\css\radiator.css" />
		<add key="RadiatorUserName" value="Radiator" />
		<add key="RadiatorDomain" value="se-tv-pc" />
		<add key="RadiatorPassword" value="ecomrocks" />
	</appSettings>
</configuration>